.nav-link {
    color: red;
}

div .felix {
     color: green;
}
.right {
    margin-left: 20px;
    font-size:18px;
}

.drpdwn {
    margin-left: 20px;
}
.nom {
    padding-left: 20px;
}

.fa {
    margin-right: 5px;
}

.in_Sagno {
    margin-right: 0px;
}
.search {
    font-size: 20px;
    text-align: center;
}
.panier {
    margin-left: 40px;
}
.grand{
    font-size: 22px;
}
.a_p{
    font-size: 15px;
}
